<div *ngFor="let prop of property" class="card shadow-sm mt-3">
  <div class="card-body"></div>
  <img [src]="property.image" alt="{{ property.title }}" class="card-img-top" />
  <h2 class="card-title">{{ prop.title }}</h2>
  <p class="card-text"><strong>Location:</strong> {{ prop.location }}</p>
  <p class="card-text"><strong>Price:</strong> {{ prop.price }}</p>
  <p class="card-text"><strong>Type:</strong> {{ prop.type }}</p>

  <app-property-details [property]="prop"></app-property-details>
</div>
</div>
